.walkthrough {
  border: solid 3px var(--color-secondary);
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  width: 60%;
  min-height: 300px;
  color: var(--color-white);
  background-color: var(--color-accent);
}

.walkthrough h3 {
  padding: 0 20px;
  display: block;
  font-size: 1.5em;
  text-align: center;
  width: 90%;
  margin: 10px auto;
}

.walkthrough div pre {
  display: inline-block;
  width: 60%;
  border-radius: 10px;
  background-color: var(--color-secondary);
  padding: 15px;
  overflow: auto;
}

.walkthrough ol {
  list-style-type: none;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  font-size: 1.5rem;
}

.walkthrough ol li {
  cursor: pointer;
}

.walkthrough ol li.active {
  background-color: var(--color-secondary);
  border-radius: 5px;
  padding-left: 5px;
}
