:host .walkthrough {
  padding: 30px;
  margin: 30px auto;
  border-radius: var(--radius-5);
  width: 98%;
  min-height: 1000px;
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.row {
  display: flex;
}

.column-left {
  flex: 40%;
}

.column-right {
  flex: 60%;
  width: 60%;
}

.card {
  border-radius: var(--radius-4);
  padding: 5px;
}

h2 {
  font-size: var(--font-size-fluid-3);
  font-weight: bold;
}

h3 {
  color: var(--color-gray);
}

h4 {
  font-size: var(--font-size-fluid-1);
  font-weight: bold;
  margin: 5px 0;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 15px;
  width: 90%;
  text-align: left;
  font-size: var(--font-size-1);
  background-color: #151818;
  min-height: 100px;
  color: var(--color-gray);
  border-radius: var(--radius-2);
}
