.container {
  border: 1px solid var(--color-prism-bg);
  background-color: var(--color-prism-bg);
  padding: 0 var(--size-2);
  border-radius: var(--radius-2);
}

ul {
  list-style-type: none;
}

li {
  float: left;
  cursor: pointer;
  width: var(--size-fluid-5);
  margin: var(--size-4) var(--size-4) var(--size-1) var(--size-2);
  border-bottom: 2px solid transparent;
  padding: var(--size-1);
  display: flex;

  & svg {
    max-height: var(--size-4);
    display: inline;
  }
}

li.active {
  border-bottom: 2px solid var(--color-white);
}

pre {
  border: 2px solid var(--color-white);
}

.copy-icon {
  background-color: var(--color-white);
  padding: 0;
  border-radius: var(--radius-2);
  position: relative;
  top: -80px;
  float: right;
  right: 10px;
  width: 40px;
  vertical-align: middle;
  cursor: pointer;

  & svg {
    width: 40px;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .copy-icon {
    top: -110px;
  }
}
