<html>
  <head>
    <title>Greenwood - ${globalThis.page.title}</title>
    <script type="module" src="../components/side-nav/side-nav.js" data-gwd-opt="static"></script>
    <script type="module" src="../components/table-of-contents/table-of-contents.js" data-gwd-opt="static"></script>
    <style>
      .sidebar,
      .content,
      .toc {
        display: inline-block;
        padding-left: 2rem;
        vertical-align: top;
      }

      .sidebar {
        width: 20%;
        border-right: 1px solid black;
      }

      .content {
        text-align: left;
        vertical-align: top;
        width: 50%;
      }

      .toc {
        width: 20%
      }

      app-toc {
        float: right;
        margin-right: 2rem;
      }
    </style>
  </head>

  <body>
    <div class="sidebar">
      <app-side-nav route="/docs" heading="Docs"></app-side-nav>
    </div>
    <div class="content">
      <content-outlet></content-outlet>
      <!-- would be nice if we could use other content as data, e.g. -->
      <!-- <app-toc route="${globalThis.page.route}"></app-toc> -->
    </div>
    <div class="toc">
      <app-toc title="${globalThis.page.title}"></app-toc>
    </div>
  </body>
</html>
