<html>
  <head>
    <title>Greenwood - ${globalThis.page.title}</title>
    <script type="module" src="../components/side-nav/side-nav.js"></script>
    <style>
      .sidebar,
      .content {
        display: inline-block;
        padding-left: 2rem;
      }

      .sidebar {
        width: 20%;
        border-right: 1px solid black;
      }

      .content {
        text-align: left;
        vertical-align: top;
        width: 75%;
      }
    </style>
  </head>

  <body>
    <div class="sidebar">
      <app-side-nav route="/guides" heading="Guides"></app-side-nav>
    </div>
    <div class="content">
      <content-outlet></content-outlet>
    </div>
  </body>
</html>
