:host {
  text-align: center;
  margin-bottom: 40px;
}

:host h2 {
  font-size: 3em;
}

:host h2 i {
  color: var(--color-accent);
}

:host p {
  width: 60%;
  padding: 0;
  margin: 0 auto;
  font-size: 1.5em;
}

:host button {
  display: inline-block;
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 1.5em;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
}

:host .code {
  background-color: var(--color-secondary);
  font-family: 'Geist-Mono', monospace;
  color: white;
  text-align: center;
  min-width: 50%;
  max-width: 60%;
  font-size: 1.6em;
  padding: 15px 0;
  margin: 20px auto;
  border-radius: 10px;
  display: block;
}