.container {
  background-color: var(--color-gray);
  padding: var(--size-px-5) var(--size-px-5);
}

.heading {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-6);
}

.subHeading {
  padding: var(--size-fluid-1) 0;
}

.icons {
  display: block;
}

.icon {
  display: block;
  text-align: center;
  background-color: var(--color-white);
  border-radius: var(--radius-5);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  margin: var(--size-fluid-1) var(--size-fluid-1) var(--size-fluid-1) 0;
  line-height: 100%;
}

.icon svg {
  height: 50px;
}

.icon span {
  vertical-align: middle;
  display: inline-block;
}

.iconLabel {
  padding-left: var(--size-1);
}

@media (min-width: 600px) {
  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .container {
    padding: var(--size-fluid-4);
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: var(--size-4) var(--size-8);
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: var(--size-9) var(--size-11);
  }

  .icons {
    max-width: 90%;
  }
}
