.container {
  padding: var(--size-fluid-3) var(--size-fluid-1);
  color: var(--color-white);
  background-color: var(--color-tertiary);
  text-align: center;
}

.heading {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-5);
}

.snippet {
  display: inline-block;
  border-radius: var(--radius-4);
  padding: 0 var(--size-1);
  box-shadow: var(--shadow-4);
  letter-spacing: var(--font-letterspacing-3);
  background-color: var(--color-white);
  color: var(--color-black);
  margin: 10px 0;
  max-width: 98%;
}

.snippet pre {
  font-size: 13px;
  text-align: center;
  display: inline-block;
  padding: var(--size-px-4) 0;
  background-color: transparent;
  color: var(--color-black);
}

.snippet app-ctc-button {
  display: none;
  vertical-align: middle;
}

.buttonBlitz {
  display: inline-block;
  border-radius: var(--radius-3);
  border: var(--border-size-1) solid var(--color-white);
  background-color: transparent;
  padding: var(--size-fluid-1) var(--size-fluid-2);
  min-width: var(--size-px-13);
  color: var(--color-white) !important;
  box-shadow: var(--shadow-2);
  height: fit-content;
  text-decoration: none;
}

.buttonStarted {
  display: inline-block;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-1) var(--size-fluid-2);
  background-color: var(--color-primary);
  min-width: var(--size-px-13);
  color: var(--color-white) !important;
  box-shadow: var(--shadow-4);
  margin-top: var(--size-fluid-1);
  height: fit-content;
  text-decoration: none;
}

.buttonBlitz:hover,
.buttonBlitz:focus {
  background-color: var(--color-gray);
  text-decoration: none;
  color: var(--color-black) !important;
}

.buttonStarted:hover,
.buttonStarted:focus {
  background-color: var(--color-accent);
  text-decoration: none;
  color: var(--color-black) !important;
}

@media (min-width: 1024px) {
  .snippet {
    max-width: fit-content;
    padding: var(--size-2);
    display: inline-block;
  }

  .snippet pre {
    font-size: var(--font-size-1);
    width: fit-content;
  }

  .snippet app-ctc-button {
    display: inline-block;
  }
}
