.container {
  background-color: var(--color-white);
  border: var(--border-size-1) solid var(--color-black);
  text-align: center;
  padding: 20px 10px;
}

.heading {
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-9);
}

.subHeading {
  margin: 10px auto 30px;
  padding: 0 10px;
  text-align: left;
}

.cardContainer {
  background-color: var(--color-white);
  border-radius: var(--radius-5);
}

.card {
  display: inline-block;
  text-align: left;
  margin: 10px 10px 10px;
  padding: var(--size-fluid-3);
  border-radius: var(--radius-5);
  background-image: linear-gradient(to top left, var(--color-secondary), #2e3440);
  vertical-align: top;
}

.card h3 {
  padding: 4px 6px;
  border-radius: var(--radius-5);
  border: 1px solid var(--color-primary);
  background-color: var(--color-gray);
  line-height: 50px;
  text-align: center;
}

.card p {
  margin: var(--size-fluid-1);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .container {
    padding: var(--size-fluid-4);
    margin: 0 auto;
  }

  .subHeading {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .card {
    display: inline-block;
    margin: 30px 10px 20px 20px;
    width: 80%;
    height: fit-content;
  }

  .card h3 {
    margin: 0 auto;
    width: 80%;
  }

  .card p {
    margin: var(--size-fluid-2) 0;
  }

  .subHeading {
    width: 60%;
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .card {
    margin: 10px;
    width: 70%;
    min-height: fit-content;
  }
}

@media (min-width: 1440px) {
  .card {
    display: inline-block;
    width: 29%;
    min-height: 440px;
  }
}
