app-latest-post,
app-hero-banner {
  display: block;
  margin: var(--size-fluid-1);
}

.capabilities-content {
  display: none;
}

@media (min-width: 768px) {
  app-hero-banner,
  app-latest-post {
    width: 70%;
    margin: 0 auto;
  }
}
