app-latest-post,
app-hero-banner {
  display: block;
  margin: var(--size-2) auto;
}

app-latest-post {
  width: 92%;
  margin: 0 auto;
}

.capabilities-content {
  display: none;
}

@media (min-width: 768px) {
  app-hero-banner,
  app-latest-post {
    padding: var(--size-2);
  }
}

@media (min-width: 1440px) {
  app-hero-banner,
  app-latest-post {
    width: 80%;
    padding-left: 0;
  }
}
