app-latest-post,
app-hero-banner {
  display: block;
  margin: var(--size-2) auto;
}

.capabilities-content {
  display: none;
}

@media (min-width: 1024px) {
  app-latest-post,
  app-hero-banner {
    width: 94%;
    margin: 0 auto;
  }

  app-hero-banner {
    padding-bottom: var(--size-2);
  }
}

@media (min-width: 1300px) {
  app-latest-post,
  app-hero-banner {
    width: 88%;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  app-latest-post,
  app-hero-banner {
    width: 85%;
  }
}
