@import "https://unpkg.com/open-props";

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
  }

  body {
    font-family: "Geist-Sans";
    overflow-x: hidden;
    height: 100vh;
  }



/**-----------------------------------------------------------------**/

h1 {
  text-align: center;
}

footer {
  text-align: center;
  border-radius: var(--radius-4);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-4);
}

/**-----------------------------------------------------------------**/


/*-----BLOG STYLING--------------------------------------------------*/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/

  .line-container {
    position: relative;
    height: auto;
    z-index: 0.9;
  }

  .line-break {
    border: 0.1px dotted #C1C1C1;
  }
  
  .line-left {
    border-left: 0.1px solid #C1C1C1;
    height: 100%;
    position: absolute;
    left: 10vw;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .line-right {
    border-right: 0.1px solid #C1C1C1;
    height: 100%;
    position: absolute;
    right: 10vw;
    top: 0;
    bottom: 0;
    z-index: -1;
  }



  /**--BLOG LANDING PAGE--**/
  /**-----------------------------------------------------------------**/
  /**-----------------------------------------------------------------**/
  .blog-hero-section {
    background-image: url(/Assets/Grid.svg);
    margin-top: var(--size-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line-break {
    width: 78vw;
    margin: 0 auto;
    margin-top: var(--size-10);
    border: 0.1px dotted #4d4d4d63;
  }

  .blog-hero-text {
    color: var(--color-secondary);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: var(--font-letterspacing-0);
    text-align: center;
    width: 50vw;
  }

  .blog-hero-body-text {
    text-align: center;
    width: 50vw;
    font-size: 1.5rem;
    color: var(--color-black);
    margin-top: var(--size-3);
  }

  .blog-body-section {
    padding-top: var(--size-7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-article {
    background-color: var(--color-gray);
    width: 50%;
    display: flex;
    gap: var(--size-5);
    border-radius: var(--radius-4);
    padding: var(--size-fluid-1);
    margin-top: var(--size-5);
  }

  .blog-article-title {
    font-size: var(--font-size-4);
  }

  .blog-article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .blog-article-body {
    width: 90%;
  }



  /**--BLOG POST PAGE--**/
  /**-----------------------------------------------------------------**/
  /**-----------------------------------------------------------------**/
  .blog-post-hero-section {
    background-color: var(--color-gray);
    display: flex;
    width: 76vw;
    height: auto;
    margin: 0 auto;
    margin-top: var(--size-7);
    padding: var(--size-fluid-2);
    border-radius: var(--radius-5);
  }

  .blog-tag {
    width: 40%;
    box-sizing: border-box;
  }

  .blog-post-hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--size-11);
  }

  .blog-post-heading {
    font-size: 4rem;
    line-height: var(--size-9);
    width: 80%;
  }

  .blog-post-body {
    color: var(--color-black);
  }

  .blog-post-body-section {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--size-10);
  }

  .author-details {
    display: flex;
    gap: 1rem;
    margin-top: var(--size-3);
  }

  .paragraph-heading {
    font-size: var(--font-size-5);
    margin-bottom: var(--size-2);
    color: var(--color-secondary);
  }

  #blog-post {
    width: 60vw;
    font-size: 1.2rem;
    color: var(--color-black);
  }



/*-----BLOG MOBILE SCREENS-----------*/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/
/**-----------------------------------------------------------------**/

@media (max-width: 600px) {

    .line-left, .line-right {
        left: 2vw;
        right: 2vw;
    }

  .line-break {
    margin-top: var(--size-5);
    width: 90vw;
  }

  .blog-hero-section {
    background-image: url(/Assets/Grid.svg);
    margin-top: var(--size-9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-hero-text {
    color: var(--color-secondary);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.3rem;
    letter-spacing: -0.2rem;
    margin-bottom: var(--size-2);
    width: auto;
    text-align: center;
  }

  .blog-hero-body-text {
    width: 90vw;
    font-size: 1.2rem;
    color: var(--color-black);
    text-align: center;
  }

  .blog-body-section {
    padding-top: var(--size-7);
  }

  .blog-article {
    background-color: var(--color-gray);
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 2rem;
    padding: var(--size-5);
    margin: 0 auto;
    margin-top: var(--size-3);
  }

  .blog-article-body {
    width: auto;
    margin-bottom: var(--size-3);
  }



   /*-----BLOG POST--*/

   .blog-post-hero-section {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    margin-top: var(--size-8);
    padding: var(--size-3);
    border-radius: 2rem;
    gap: var(--size-3);
  }

  .blog-tag {
    width: 50%;
  }

  .blog-post-hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--size-3);
  }

  .blog-post-heading {
    font-size: 3rem;
    line-height: 3rem;
    width: 80%;
    
  }

  .blog-post-body-section {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--size-10);
  }

  .author-details {
    display: flex;
    gap: var(--size-3);
    margin-top: var(--size-3);
  }

  .blog-post-section {
    width: 90vw;
    
  }

  #blog-post {
    width: inherit;
  }

}


/*-----TABLET SCREENS-----------*/
@media screen and (min-width: 768px) and (max-width: 820px) {

  .line-left, .line-right {
    left: 2vw;
    right: 2vw;
}
  .blog-hero-section {
    background-image: url(/Assets/Grid.svg);
    margin-top: var(--size-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .line-break {
    width: 78vw;
    margin: 0 auto;
    margin-top: var(--size-8);
    border: 0.1px dotted #4d4d4d;
  }

  .blog-hero-text {
    color: var(--color-secondary);
    font-size: var(--font-size-8);
    font-style: normal;
    font-weight: 700;
    line-height: var(--font-lineheight-0);
    letter-spacing: var(--font-letterspacing-0);
    text-align: center;
    margin-bottom: var(--size-3);
    margin-top: var(--size-2);
    width: 50vw;
  }

  .blog-hero-body-text {
    text-align: center;
    width: 50vw;
    font-size: 1.5rem;
    color: var(--color-black);
  }

  .blog-body-section {
    padding-top: var(--size-9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .blog-article {
    background-color: var(--color-gray);
    width: 90%;
    display: flex;
    gap: var(--size-6);
    border-radius: 2rem;
    padding: var(--size-3);
    margin-top: var(--size-6);
  }

  .blog-article-title {
    font-size: var(--font-size-4);
  }

  .blog-article-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #blog-post {
    width: 60vw;
  }


  /*-----BLOG POST--*/

  .blog-post-hero-section {
    background-color: var(--color-gray);
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 0 auto;
    margin-top:  var(--size-7);
    padding:  var(--size-3);
    border-radius: 2rem;
    gap:  var(--size-3);
  }

  .blog-tag {
    width: 40%;
  }

  .blog-post-hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:  var(--size-3);
  }

  .blog-post-heading {
    font-size: 3rem;
    line-height: 3rem;
    width: 80%;
  }

  .blog-post-section {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--size-10);
  }

  .author-details {
    display: flex;
    gap: var(--size-3);
    margin-top: var(--size-3);
  }

  .blog-post-body-section {
    width: 80vw;
  }

  #blog-post {
    width: inherit;
  }
}



/*-----FOLD SCREENS-----------*/
@media (max-width: 280px) {

  .blog-hero-text {
    color: var(--color-secondary);
    font-size: var(--font-size-1);
    font-style: normal;
    font-weight: 700;
    line-height: var(--font-lineheight-0);
    letter-spacing: var(--font-letterspacing-0);
    text-align: center;
    margin-bottom: var(--size-3);
    margin-top: var(--size-2);
   
  }

  .blog-post-heading {
    font-size: 2.5rem;
    line-height: 2.5rem;
    width: auto;
  }

  .blog-post-hero-text {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }

}








