@import "../../node_modules/open-props/borders.min.css";
@import "../../node_modules/open-props/fonts.min.css";
@import "../../node_modules/open-props/shadows.min.css";
@import "../../node_modules/open-props/sizes.min.css";
@import "../../node_modules/prism-themes/themes/prism-nord.css";

@font-face {
  font-family: "Geist-Sans";
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2") format("truetype");
}

@font-face {
  font-family: "Geist-Mono";
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "Geist-Sans Bold";
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Bold.woff2") format("truetype");
}

:root,
:host {
  --color-primary: #016341;
  --color-secondary: #0e0f0c;
  --color-tertiary: #151818;
  --color-accent: #c3ddba;
  --color-logo-shade-dark: #00b68f;
  --color-logo-shade-light: #1ad6a9;
  --color-green-pale: #c3ddba;
  --color-white: #ffffff;
  --color-black: #4d4d4d;
  --color-gray: #f5f5f5;
  --color-gray-background: #edefec;
  --color-prism-bg: #2e3440;
  --color-border: #bababa;
  --font-primary: "Geist-Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-primary-bold: "Geist-Sans Bold";
  --font-secondary: "Geist-Mono", monospace;
}

* {
  font-family: var(--font-primary);
  font-size: var(--font-size-3);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: underline;
  color: var(--color-primary);
}

a:hover,
a:focus {
  text-decoration: underline;
  background-color: transparent;
}

/* tweaks for PrismJS */
code[class*="language-"],
pre[class*="language-"],
code,
pre,
span.token {
  font-family: "Geist-Mono", monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  width: 100%;
}

@media (max-width: 760px) {
  code[class*="language-"],
  pre[class*="language-"],
  .token {
    font-size: 0.9rem;
  }
}

/* inline style blocks */
code,
pre {
  background-color: var(--color-prism-bg);
  color: var(--color-white);
  padding: 0px 4px;
  display: inline-block;
  border-radius: var(--radius-2);
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray) transparent;
}

[popover] {
  border: none; /* Popovers have borders it seems? */
  padding: 0;
  margin: 0;
}

app-header {
  display: block;
  margin: 10px 0 0;
}

/* tweaks for rehype-autolink-headings markdown plugin */
h2 > a > span.icon,
h3 > a > span.icon,
h4 > a > span.icon {
  display: inline-block;
  width: var(--size-4);
  height: var(--size-4);
  padding: var(--size-2);
  background-image: url("../assets/link.svg");
  background-size: var(--size-3) var(--size-3);
  background-repeat: no-repeat;
  background-position-y: center;
  vertical-align: text-bottom;
  opacity: 0.5;
}

h2:hover > a > span.icon,
h2:focus > a > span.icon,
h3:hover > a > span.icon,
h3:focus > a > span.icon,
h4:hover > a > span.icon,
h4:focus > a > span.icon {
  opacity: 1;
}

li {
  margin: var(--size-2) 0;
}

.page-content {
  & blockquote {
    margin: var(--size-6) 0 0 var(--size-2);
    padding: var(--size-1);
    background-color: var(--color-accent) !important;
    border-left: var(--size-1) solid var(--color-secondary);
    font-style: italic;
  }
}
