@import "../../node_modules/open-props/src/props.borders.css";
@import "../../node_modules/open-props/src/props.shadows.css";
@import "../../node_modules/open-props/src/props.sizes.css";

@font-face {
  font-family: "Geist-Sans";
  src: url("../../node_modules/geist/dist/fonts/geist-sans/Geist-Regular.woff2")
    format("truetype");
}

@font-face {
  font-family: "Geist-Mono";
  src: url("../../node_modules/geist/dist/fonts/geist-mono/GeistMono-Regular.woff2")
    format("truetype");
}

:root {
  --color-primary: #016341;
  --color-secondary: #0e0f0c;
  --color-tertiary: #151818;
  --color-accent: #c3ddba;
  --color-white: #ffffff;
  --color-black: #020202;
  --color-gray: #f5f5f5;
  --color-gray-background: #edefec;
  --font-primary: "Geist-Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-secondary: "Geist-Mono", monospace;
}

* {
  font-family: var(--font-primary);
  font-size: var(--size-px-3);
  box-sizing: border-box;
}
