.postsList {
  padding: var(--size-1) auto;
}

.postsListItem {
  list-style-type: none;
  margin: var(--size-4);
  display: block;
  text-align: left;
  border-radius: var(--radius-3);
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-gray);
  padding: var(--size-2);
  min-height: 150px;
}

.postsListItemContentLink {
  display: inline-block;
  color: var(--color-secondary) !important;
  text-decoration: none;
}

.postsListItemContentLink:hover {
  text-decoration: none;
}

.postsListItemCoverImage {
  display: inline-block;
  object-fit: cover;
  min-width: 60px;
  max-width: 60px;
  max-height: var(--size-8);
  min-height: var(--size-8);
  border-radius: var(--radius-3);
  border: 1px solid var(--color-secondary);
  padding: var(--size-1);
  background-color: var(--color-white);
}

.postsListItemContentContainer {
  display: inline-block;
  width: 75%;
  vertical-align: top;
  text-align: left;
}

.postsListItemContentTitle {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-2);
  display: inline-flex;
  margin: 0 0 var(--size-1);
}

.postsListItemContentAbstract {
  font-size: var(--font-size-1);
  line-height: var(--size-lineheight-2);
}

@media (min-width: 768px) {
  .postsList {
    width: 90%;
    margin: var(--size-4) auto;
  }

  .postsListItem {
    padding: var(--size-4);
  }

  .postsListItemContentContainer {
    margin: 0 0 0 var(--size-1);
  }

  .postsListItemCoverImage {
    margin: var(--size-1);
  }
}

@media (min-width: 1024px) {
  .postsList {
    padding: var(--size-4);
    width: 80%;
    margin: 0 auto;
  }

  .postsListItemCoverImage {
    width: 20%;
    max-width: 80px;
    max-height: var(--size-9);
    min-height: var(--size-9);
    margin: var(--size-2);
  }

  .postsListItemContentTitle {
    font-size: var(--font-size-3);
  }

  .postsListItemContentAbstract {
    font-size: var(--font-size-2);
  }
}

@media (min-width: 1440px) {
  .postsList {
    max-width: 50%;
    margin: 0 auto;
  }
}
