:host .capabilities {
  color: var(--color-white);
  background-color: var(--color-secondary);
}

.capabilities em,
.capabilities strong {
  font-size: var(--font-size-1);
}

.capabilities h2 {
  font-size: var(--font-size-4);
}

.container {
  padding: var(--size-fluid-2);
}

.sections {
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray) transparent;
}

.section {
  display: inline-block;
  border-radius: var(--radius-5);
  cursor: pointer;
  margin: var(--font-size-1) 0;
  padding: 10px 20px;
}

.section svg {
  stroke: var(--color-gray);
}

.section:hover {
  border: 2px dotted var(--color-accent);
}

.section:hover strong,
.active strong {
  color: var(--color-white);
  font-weight: bold;
}

.active {
  background-color: var(--color-accent);
  color: var(--color-black);
}

.active svg {
  stroke: var(--color-black);
}

.snippet pre {
  border-radius: var(--radius-3);
  animation: slide-up-fade-in ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray) transparent;
}

h2 {
  font-size: var(--font-size-fluid-3);
  font-weight: bold;
  margin: 0;
}

h3 {
  color: var(--color-gray);
}

h4 {
  font-size: var(--font-size-fluid-1);
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
}

h4 svg {
  vertical-align: middle;
}

nav {
  overflow: auto;
  white-space: nowrap;
  border-top: 1px solid var(--color-accent);
  border-bottom: 1px solid var(--color-accent);
  margin: var(--font-size-1) 0;
}

ul {
  list-style-type: none;
  display: inline-block;
  width: fit-content;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  text-align: left;
  font-size: var(--font-size-1);
}

img {
  display: inline-block;
  vertical-align: middle;
}

pre {
  margin: 0;
}

@media (max-width: 760px) {
  code[class*="language-"],
  pre[class*="language-"],
  .token {
    font-size: 0.9rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: var(--size-fluid-4);
    margin: 0 auto;
  }

  .capabilities h2 {
    font-size: var(--font-size-7);
  }

  .section {
    padding: 20px;
    margin-right: 20px;
  }

  .section:hover {
    padding: 18px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  p {
    width: 80%;
  }
}

/* https://codepen.io/katienelson/pen/KwXEzN */
@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
