.container {
  text-align: left;
  margin: 0;
  padding: var(--size-px-2);
}

.heading {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-6);
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.headingEmphasis {
  font-size: var(--font-size-6);
  font-family: var(--font-primary-bold);
  font-style: italic;
}

.headingSub {
  font-size: var(--font-size-4);
  letter-spacing: var(--font-letterspacing-2);
  margin: var(--size-px-2) 0;
  padding: var(--size-3) 0;
}

.ctaContainer {
  margin: 0 auto;
  text-align: center;
}

.buttonSecondary {
  display: inline-block;
  border-radius: var(--radius-3);
  background-color: transparent;
  padding: var(--size-3);
  border: 1px solid var(--color-border);
  width: 100%;
  height: fit-content;
  box-shadow: var(--shadow-2);
  text-decoration: none;
  color: var(--color-black) !important;
}

.buttonPrimary {
  display: inline-block;
  border-radius: var(--radius-3);
  padding: var(--size-3);
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white) !important;
  box-shadow: var(--shadow-3);
  margin-top: var(--size-fluid-1);
  height: fit-content;
  text-decoration: none;
}

.buttonSecondary:hover,
.buttonSecondary:focus {
  background-color: var(--color-secondary);
  color: var(--color-white) !important;
  text-decoration: none;
}

.buttonPrimary:hover,
.buttonPrimary:focus {
  background-color: var(--color-accent);
  text-decoration: none;
  color: var(--color-black) !important;
}

.snippetContainer {
  width: 100%;
}

.snippet {
  border-radius: var(--radius-4);
  border: var(--radius-1) solid #c1d3cd;
  box-shadow: var(--shadow-2);
  margin: var(--size-px-2) 0;
  text-align: center;
  padding: var(--size-1);
  display: block;
}

.snippet pre {
  font-size: 20px;
  height: 50px;
  align-content: center;
  display: inline-block;
  background-color: transparent;
  color: var(--color-black);
  vertical-align: middle;
}

.snippet app-ctc-button {
  display: none;
}

.emphasisCorner {
  display: none;
  vertical-align: middle;
  margin-left: -60px;
  pointer-events: none;
}

@media (min-width: 768px) {
  .heading,
  .headingEmphasis {
    font-size: var(--font-size-7);
  }

  .ctaContainer {
    padding: 0 0 0 var(--size-1);
  }

  .heading,
  .headingSub {
    width: 98%;
    margin: 0 auto;
  }

  .buttonSecondary,
  .buttonPrimary {
    width: 45%;
  }

  .snippet {
    width: 90%;
    margin: 10px auto;
  }

  .snippet pre {
    padding: 0 10px;
    vertical-align: text-top;
    display: inline;
  }

  .snippet app-ctc-button {
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .container {
    text-align: left;
  }

  .ctaContainer {
    width: 98%;
    margin: 0 auto;
    text-align: left;
  }

  .buttonSecondary,
  .buttonPrimary {
    max-width: fit-content;
  }

  .snippet {
    display: inline-block;
    width: auto;
  }

  .snippet pre {
    font-size: 18px;
  }

  .snippetContainer {
    display: inline-block;
    width: fit-content;
  }
}

@media (min-width: 1200px) {
  .emphasisCorner {
    display: inline-block;
  }
}

@media (min-width: 1440px) {
  .heading,
  .headingSub {
    padding: 0;
    margin: 0;
  }

  .heading {
    margin: var(--size-3) 0;
  }

  .headingSub {
    width: 75%;
  }

  .snippet {
    width: auto;
  }

  .snippetContainer {
    display: inline-block;
    width: 60%;
  }

  .emphasisCorner {
    display: inline-block;
  }

  .ctaContainer {
    padding: 0;
    margin: 0;
  }
}
