.container {
  text-align: left;
  margin: 0;
  padding: var(--size-px-2);
}

.heading {
  font-family: var(--font-primary-bold);
  font-size: var(--font-size-6);
  margin-block-start: 0;
  margin-block-end: 0;
}

.headingEmphasis {
  font-size: var(--font-size-6);
  font-style: italic;
}

.headingSub {
  font-size: var(--font-size-4);
  letter-spacing: var(--font-letterspacing-2);
  margin: var(--size-px-2) 0;
}

.ctaContainer {
  margin: 0 auto;
  text-align: center;
}

.buttonBlitz {
  display: inline-block;
  border-radius: var(--radius-3);
  background-color: transparent;
  padding: var(--size-fluid-2);
  border: 1px solid var(--color-border);
  width: 100%;
  height: fit-content;
  box-shadow: var(--shadow-2);
  text-decoration: none;
  color: var(--color-black) !important;
}

.buttonStarted {
  display: inline-block;
  border-radius: var(--radius-3);
  padding: var(--size-fluid-2);
  background-color: var(--color-primary);
  width: 100%;
  color: var(--color-white) !important;
  box-shadow: var(--shadow-4);
  margin-top: var(--size-fluid-1);
  height: fit-content;
  text-decoration: none;
}

.buttonBlitz:hover {
  background-color: var(--color-secondary);
  color: var(--color-white) !important;
  text-decoration: none;
}

.buttonStarted:hover {
  background-color: var(--color-accent);
  text-decoration: none;
  color: var(--color-black) !important;
}

.snippetContainer {
  width: 100%;
}

.snippet {
  border-radius: var(--radius-4);
  border: var(--radius-1) solid #c1d3cd;
  box-shadow: var(--shadow-4);
  margin: var(--size-px-2) 0;
  text-align: center;
  padding: var(--size-fluid-1);
  display: block;
}

.snippet pre {
  font-size: var(--font-size-1);
  display: inline-block;
  height: 46px;
  align-content: center;
  display: inline;
  vertical-align: text-top;
}

.snippet app-ctc {
  display: inline-block;
  text-align: right;
  vertical-align: baseline;
  position: relative;
  cursor: pointer;
}

.emphasisCorner {
  display: none;
  vertical-align: middle;
  margin-left: -60px;
}

@media (min-width: 768px) {
  .heading,
  .headingEmphasis {
    font-size: var(--font-size-7);
  }

  .buttonBlitz,
  .buttonStarted {
    width: 45%;
  }

  .snippet {
    width: 90%;
    margin: 10px auto;
  }

  .snippet pre {
    padding: 0 10px;
  }
}

/* use 1025 as a quick tweak for iPad Pro breakpoint */
@media (min-width: 1025px) {
  .ctaContainer {
    margin: 0 auto;
    text-align: left;
  }

  .buttonBlitz,
  .buttonStarted {
    max-width: fit-content;
    padding: var(--size-fluid-1);
  }

  .snippet {
    display: inline-block;
    width: auto;
  }

  .snippet pre {
    font-size: 18px;
  }

  .snippetContainer {
    display: inline-block;
    width: fit-content;
  }

  .emphasisCorner {
    display: inline-block;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 90%;
  }

  .headingSub {
    width: 80%;
  }

  .snippet {
    width: auto;
  }

  .snippetContainer {
    display: inline-block;
    width: 50%;
  }

  .emphasisCorner {
    display: inline-block;
  }
}
