.pill {
  display: inline-block;
  border-radius: var(--radius-4);
  padding: var(--size-2);
  border: var(--radius-1) solid var(--color-gray-background);
  box-shadow: var(--shadow-1);
  text-align: left;

  & .new {
    background-color: var(--color-green-pale);
    border-radius: var(--radius-4);
    padding: var(--size-2);
    margin-right: var(--size-1);
  }

  & a {
    line-height: var(--size-px-8);
    color: var(--color-black);
  }
}
