header {
  box-sizing: border-box;
  height: var(--size-10);
  width: auto;
  border: var(--border-size-1) dotted #989898ca;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--size-12);
  padding-right: var(--size-12);
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: var(--size-5);
}

.nav-bar-menu {
  display: flex;
  gap: var(--size-5);
  list-style-type: none;
}

.nav-bar-menu-item {
  text-decoration: none;
  cursor: pointer;
}

.nav-bar-menu-item:hover {
  font-weight: bold;
}

.social-tray {
  display: flex;
  gap: var(--size-3);
  list-style-type: none;
  background-color: var(--color-gray);
  width: fit-content;
  border: var(--border-size-1) solid #4d4d4d45;
  border-radius: var(--radius-6);
  padding: var(--size-2);
  padding-left: var(--size-3);
  padding-right: var(--size-3);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social-icon {
  display: flex;
  align-items: center; /* Ensures vertical alignment */
}

.social-icon svg {
  fill: var(--color-secondary);
}


.mobile-menu,
.mobile-menu.active,
.mobile-menu-items,
.mobile-menu-items.active,
.close-button {
  display: none;
}

/* ---MOBILE SCREENS---*/
@media (max-width: 600px) {
  header {
    height: var(--size-9);
    width: 100vw;
    border: var(--border-size-1) dotted #989898ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--size-5);
    padding-right: var(--size-5);
  }

  .logo-bar {
    z-index: 999;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    gap: var(--size-2);
  }

  .nav-bar-menu {
    display: none;
  }

  .mobile-menu-items {
    display: none;
  }

  .mobile-menu.active + .mobile-menu-items {
    display: flex;
    flex-direction: Column;
    list-style-type: none;
  }

  .mobile-menu {
    display: flex;
    cursor: pointer;
  }

  .mobile-menu-items.active {
    position: fixed;
    top: var(--size-10);
    left: var(--size-5);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: var(--size-3);
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f58e;
    backdrop-filter: blur(170px);
    z-index: 1;
    display: none;
  }

  .overlay.active {
    display: block;
  }

  .close-button {
    position: absolute;
    top: var(--size-4);
    right: var(--size-7);
    background: none;
    border: none;
    font-size: var(--font-size-4);
    cursor: pointer;
    color: var(--color-secondary);
    z-index: 999;
  }
}

/*-----TABLET SCREENS-----------*/
@media screen and (min-width: 768px) and (max-width: 960px) {
  header {
    height: var(--size-10);
    width: auto;
    border: var(--border-size-1) dotted #989898ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--size-5);
    padding-right: var(--size-5);
    margin: 0;
  }
}

/*-----FOLD SCREENS-----------*/
@media (max-width: 280px) {
  header {
    height: var(--size-10);
    width: fit-content;
    border: var(--border-size-1) dotted #989898ca;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    margin: 0;
  }
  .greenwood-logo {
    width: 80%;
  }
}
