.socialTray {
  display: flex;
  gap: var(--size-3);
  list-style-type: none;
  background-color: var(--color-gray);
  width: fit-content;
  border: var(--border-size-1) solid #4d4d4d45;
  border-radius: var(--radius-6);
  padding: 0 var(--size-1);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socialIcon {
  display: flex;
  align-items: center;
  line-height: 100%;
}
.blueskySocialIcon {
  transform: scale(1.7) translateY(-2px);
}

.socialIcon svg {
  fill: var(--color-secondary);
}

@media screen and (min-width: 768px) {
  .socialTray {
    padding: 0 var(--size-2);
  }
}
