<html>
  <head>
    <title>Greenwood - ${globalThis.page.title}</title>
    <script type="module" src="../components/side-nav/side-nav.js" data-gwd-opt="static"></script>
    <script
      type="module"
      src="../components/table-of-contents/table-of-contents.js"
      data-gwd-opt="static"
    ></script>
    <style>
      .page-content {
        max-width: 100ch;
        padding: 0 var(--font-size-1);
        margin: var(--size-4) 0 0;
      }

      app-side-nav,
      app-toc {
        display: inline-block;
        margin: 0 0 var(--size-4);
      }

      h2,
      p {
        margin: var(--size-4) 0;
      }

      hr {
        margin: 0 0 var(--size-4);
      }
    </style>
  </head>

  <body>
    <app-side-nav
      route="/guides/"
      heading="Guides"
      current-route="${globalThis.page.route}"
    ></app-side-nav>
    <app-toc route="${globalThis.page.route}"></app-toc>

    <hr />

    <content-outlet></content-outlet>
  </body>
</html>
